<div style="width: 40%; float: left; padding: 10px;">
	<h2>Posible Moves</h2>
	<table class="table table-striped" style="width: 300px;">
		<tr ng-repeat="move in moves | orderBy:name">
			<td style="line-height: 32px;">{{ move.name }}</td>
			<td width="25"><button class="btn btn-danger" style="padding: 0px 5px; margin: 5px 0px;" ng-click="deleteMove(move.name)">X</button></td>
		</tr>
	</table>
	Add new move: <input type="text" ng-model="newMove" /> <button ng-click="saveMove()" class="btn btn-success">Add</button>
</div>

<div style="width: 40%; float: right; padding: 10px;">
	<h2>Who beats who</h2>
	<table class="table table-striped" style="width: 300px;">
		<tr ng-repeat="move in moves | orderBy:name">
			<td style="line-height: 32px;">{{ move.name }} beats</td>
			<td>
				<select ng-model="newBeats[move.name]" required class="input-lg" style="padding:5px 10px; height:auto; line-height:auto; font-size:12px;">
					<option ng-repeat="move2 in moves | orderBy:name" ng-selected="{{move2.name == move.beats}}">{{ move2.name }}</option>
				</select>
			</td>
		</tr>
	</table>
	<div style="width: 300px; text-align: right;">
		<button ng-click="saveBeats()" class="btn btn-success">Update</button>
	</div>
</div>

<hr style="clear:both; margin:10px 0;" />

<div style="text-align: center;">
	<button ng-click="resetMoves()" class="btn btn-primary">Reset moves</button>
</div>

